*:not(:hover) .on-parent-hover {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.f-center {
  align-items: center;
}

.g-center {
  display: grid;
  place-content: center;
}

* {
  text-align: inherit;
  font: Arial;
}

/* Text */
.h1, .h2, .h3 {
  text-tranform: capitalize;
}

.h1 {
  font-size: 16pt;
}

.h2 {
  font-size: 14pt;
}

.h3 {
  font-size: 12pt;
}

p, a {
  font-size: 10pt;
}

/* Icons */
.bi {
  fill: #f6f6ee;
  align-self: center;
  margin-right: 0.3em;
}

/* Doesn't work yet 
*:has(> .bi) {
    @include row;
}*/
.footer {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header > * {
  font-size: inherit;
}

.body {
  display: grid;
  grid-template-columns: auto 1fr;
}

#content {
  grid-column: 2/3;
  display: grid;
  padding: 0 10%;
  grid-template-columns: [h1-start] 1em [h2-start] 1em [content-start] 1fr [content-end h1-end h2-end];
}
#content > * {
  grid-column: content;
}
#content > .center {
  align-self: center;
}
#content h1 {
  grid-column: h1;
}
#content h2 {
  grid-column: h2;
}

/* Level Widget. */
.comp {
  display: grid;
  grid-template-columns: max-content 1fr;
}
.comp > .comp-desc {
  grid-column: 1/2;
}
.comp > .comp-lvl {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
}
.comp > .comp-lvl > .lvl {
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  background-color: #f6f6ee;
  border-radius: 100%;
}
.comp > .comp-lvl > .lvl.on {
  border: 3px solid #f6f6ee;
  background-color: #77b319;
  border-radius: 100%;
}

.sdp {
  display: inline-flex;
  flex-direction: row;
}
.sdp > .date {
  margin-left: auto !important;
}
*:not(:hover) .on-parent-hover {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.f-center {
  align-items: center;
}

.g-center {
  display: grid;
  place-content: center;
}

.print {
  display: none;
}

@media print {
  @page {
    size: a4;
  }
  /* print only */
  .print {
    display: block;
  }
  /* normal only */
  .header, .aside, .noprint, .footer {
    display: none;
  }
  /* Icons */
  .bi {
    fill: #191919;
    margin: 0.3em;
  }
  /* Text */
  p, a, h1, h2, h3 {
    display: flex;
    flex-direction: row;
    color: #191919;
    margin: 0;
  }
  p, a, h3 {
    font-size: 10pt;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 14pt;
  }
  h2 {
    font-size: 12pt;
  }
  h3 {
    font-weight: bold;
  }
  hr {
    height: 3px;
    background-color: #191919;
  }
  /* Layout */
  .body {
    display: grid;
    background-image: none;
    place-content: center;
    overflow: hidden;
  }
  #content {
    color: black;
    display: grid;
    gap: 0 0.5em;
    grid-template-columns: [full-width-start left-50-start left-30-start left-60-start] 2fr [left-30-end right-60-start middle-start] 1fr [left-50-end right-50-start] 1fr [left-60-end right-30-start middle-end] 2fr [full-width-end right-50-end right-30-end right-60-end];
  }
  #content > *, #content > .full-width {
    grid-column: full-width;
  }
  #content > .left-50 {
    display: flex;
    flex-direction: column;
    grid-column: left-50;
  }
  #content > .right-50 {
    display: flex;
    flex-direction: column;
    grid-column: right-50;
  }
  #content > .right-30 {
    grid-column: right-30;
  }
  #content > .right-60 {
    grid-column: right-60;
  }
  #content > .left-30 {
    grid-column: left-30;
  }
  #content > .left-60 {
    grid-column: left-60;
  }
  #content > .middle {
    grid-column: middle;
  }
  #content > .center {
    justify-self: center;
  }
  .comp {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-top: 0.1em;
  }
  .comp > .comp-desc {
    grid-column: 1/2;
  }
  .comp > .comp-lvl {
    grid-column: 2/3;
    margin-left: auto;
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    gap: 2px;
  }
  .comp > .comp-lvl > .lvl.on {
    width: 8px;
    height: 8px;
    margin: 2px;
    background-color: black;
    border: 2px solid white;
    outline: 2px solid black;
  }
  .comp > .comp-lvl > .lvl {
    align-self: center;
    width: 12px;
    height: 12px;
    aspect-ratio: 1;
    background-color: white;
    border: 2px solid black;
  }
}
