@use "../partials/variables" as *;
@use "../partials/layout" as *;
@use "../partials/shape" as *;

@page{ size: a4;}

// Print visibility.
.header, .aside, .footer, #cv-settings { display: none; }
.no-print, .content>.no-print { display: none; }
.print { display: grid; }

#page-content {
    width: 100%;
    height: 100%;
    padding: 0;
}
/* Text size for print. */
html { font-size: 8pt; }
.h1 { font-size: 12pt; }
.h2 { font-size: 10pt; }
p, a, .h3, .ilink>a, .ilink { font-size: 8pt; }
a { text-decoration: none; }
.h3 { font-weight: bold; }
.comp > p { font-size: 8pt; }

.sdp > {
    .place { font-size: 8pt; }
    .date { font-size: 8pt; }
}

/* Layout */
.body {
    background-image: none;
    background-color: white;
    margin-bottom: 0;
}

.content {
    @include pt($s10);
    @include mh(10%);
    margin-top: auto;
    margin-bottom: auto;
}


// Color handling.
#contacts .a>.txt { text-decoration: none; }
.print.g_cols { gap: $rs6; }
.content>.print:not(.colors) {
  p, a, h1, h2, h3 { color: black; }
  hr { background-color: black; }
  .bi { color: black; }
  .sdp > {
    .place { color: black; }
    .date { color: black; }
  }
  #photo {
    border-color: black;
  }
  #contacts {
    background-color: white;
    box-shadow: 0px 2px black;
    .a {color: black;} 
  }
  .ih2 {
    color: black;
    background: white;
    box-shadow: 0px 2px black;
    > .icon {
      background-color: white; 
      @include pill();
      > .bi {
        color: black;
      }
    }
  }

  .comp {
    > p { 
      color: black;
      background-color: white;
      border: 1px solid black;
    }
  }
}
