@use "../partials/variables" as *;
@use "../partials/layout" as *;
@use "../partials/shape" as *;
@use "../partials/component" as *;

/* print only */
.header, .aside, .footer, #cv-settings {
    display: none; 
}
.no-print, .content>.no-print {
    display: none;
}
.print { display: block; }

/* Text */
.h1 { font-size: 14pt; }
.h2 { font-size: 12pt; }
p, a, .h3, .ilink>a, .ilink { font-size: 12pt; }
a { text-decoration: none; }
.h3 { font-weight: bold; }

hr {
    height: 2px;
    border: none;
}

/* Layout */
.body {
    background-image: none;
    background-color: white;
    place-content: center;
}

.content > .print {
    display: grid;
    gap: 0 $s2;
    padding: 0 10%;
    grid-template-columns: 
    [full-width-start left-50-start left-30-start left-60-start]
    2fr
    [left-30-end right-60-start middle-start]
    1fr
    [left-50-end right-50-start]
    1fr
    [left-60-end right-30-start middle-end]
    2fr
    [full-width-end right-50-end right-30-end right-60-end]
    ;
    > {
        *, .full-width {
            grid-column: full-width;
        }
        .left-50 {
            grid-column: left-50;
        }
        .right-50 {
            grid-column: right-50;
        }
        .right-30 {
            grid-column: right-30;
        }
        .right-60 {
            grid-column: right-60;
        }
        .left-30 {
            grid-column: left-30;
        }
        .left-60 {
            grid-column: left-60;
        }
        .middle {
            grid-column: middle;
        }
        .center {
            justify-self: center;
        }
    }
}

.comp {
    font-size: 10pt;
}

.content>.print:not(.colors) {
    p, a, h1, h2, h3 {
        color: black;
    }
    hr {
        background-color: black;
    }
    .bi {
        color: black;
    }
    .sdp {
        > .place {
            color: black;
        }
        > .date {
            color: black;
        }
    }
    .comp {
        font-size: 10pt;
        > {@include loading_bar(linear-gradient($fg 0%, $fg 100%), "lvl") {
            border: none;
            background-color: black;
        }}
    }
}
.content>.print.colors {
    .h2>.bi {color: $cyan;}
    .h3 { color: $cyan; }
    hr { background-color: $cyan; }
    .ilink {
        color: $fg;
    }
    height: 100%;
}
