@use "../partials/variables" as *;
@use "../partials/layout" as *;
@use "../partials/shape" as *;
@use "../partials/component" as *;

.print {
    display: none;
}

@media print {
    @page{ size: a4;}
    /* print only */
    .header, .aside, .footer {
        display: none; 
    }
    .no-print, .content.no-print {
        display: none;
    }
    .print {
        display: block;
    }

    /* Icons */
    .bi {
        fill: $bg;
        margin: .3em;
    }

    /* Text */
    p, a, h1, h2, h3 {
        @include f(true);
        @include row;
        color: $bg;
        margin: 0;
    }
    p, a, h3 { font-size: 10pt; }
    h1 { font-size: 14pt; }
    h2 { font-size: 12pt; }
    h3 { font-weight: bold; }
    a { text-decoration: none; }

    hr {
        height: 2px;
        background-color: $bg;
        border: none;
    }

    /* Layout */
    .body {
        display: grid;
        background-image: none;
        background-color: white;
        place-content: center;
    }

    .content {
        color: black;
        display: grid;
        gap: 0 .5em;
        grid-template-columns: 
            [full-width-start left-50-start left-30-start left-60-start]
            2fr
            [left-30-end right-60-start middle-start]
            1fr
            [left-50-end right-50-start]
            1fr
            [left-60-end right-30-start middle-end]
            2fr
            [full-width-end right-50-end right-30-end right-60-end]
           ;
        > {
            *, .full-width {
                grid-column: full-width;
            }
            .left-50 {
                @include f;
                @include col;
                grid-column: left-50;
            }
            .right-50 {
                @include f;
                @include col;
                grid-column: right-50;
            }
            .right-30 {
                grid-column: right-30;
            }
            .right-60 {
                grid-column: right-60;
            }
            .left-30 {
                grid-column: left-30;
            }
            .left-60 {
                grid-column: left-60;
            }
            .middle {
                grid-column: middle;
            }
            .center {
                justify-self: center;
            }
        }
        a {
            color: $bg;

        }
    }

    .comp {
        display: grid;
        grid-template-columns: max-content 1fr;
        margin-top: .1em;
        > {
            .comp-desc {
                grid-column: 1/2;
            }
            @include loading_bar($fg, "lvl") {
                grid-column: 2/3;
            }
        }
    }

    .content.colors {
        height: 100%;
        p, a, h1, h2, h3 {
            color: $fg;
        }
        hr {
            background-color: $fg;
        }
        .bi {
            fill: $fg;
        }
        .comp > {
            @include loading_bar_color("lvl", $cyan);
        }
    }

}
