@use "../partials/variables" as *;
@use "../partials/shape" as *;
@use "../partials/layout" as *;
@use "../partials/component" as *;
@use "sass:color";

* {
    text-align: inherit;
    font: Arial;
}

/* Text */
.h1, .h2, .h3 {
    text-tranform: capitalize; 
}
.h1 { font-size: $fsxl; }
.h2 { font-size: $fsl; margin-top: $s2; }
.h3 { font-size: $fsm; font-weight: bold; }

p, a:not(.btni) { font-size: $fsm; }

/* Icons */
.bi { 
    @include sq($rs4);
    align-self: center;
    margin-right: $rs1;
}

// No footer on the cv.
.footer { display: none; }

.body {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 2em;
}

#page-content {
    grid-column: 2 / 3;
    width: 90%;
    justify-self: center;
    @include f;
    @include col;
    @include pb($s12);
}

.print {
    display: none;
}

.content > .no-print {
    display: grid;
    gap: 0 $s2;
    padding: 0 10%;
    grid-template-columns: 
        [full-width-start left-50-start left-30-start left-60-start]
        2fr
        [left-30-end right-60-start middle-start]
        1fr
        [left-50-end right-50-start]
        1fr
        [left-60-end right-30-start middle-end]
        2fr
        [full-width-end right-50-end right-30-end right-60-end]
        ;

    .h2>.bi {color: $cyan;}
    hr { color: $cyan; }
    .h3 { color: $cyan; }
    a {
        color: $green;
        :visited {
            color: color.scale($green, $lightness: -50%);
        }
    }
    > {
        * { 
            grid-column: full-width; 
        }
        .full-width {
            grid-column: full-width;
        }
        .left-50 {
            grid-column: left-50;
        }
        .right-50 {
            grid-column: right-50;
        }
        .right-30 {
            grid-column: right-30;
        }
        .right-60 {
            grid-column: right-60;
        }
        .left-30 {
            grid-column: left-30;
        }
        .left-60 {
            grid-column: left-60;
        }
        .middle {
            grid-column: middle;
        }
        .center {
            justify-self: center;
        }
    }
}


/* Level Widget. */
.comp {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: $s4;
    > { 
        .comp-desc { grid-column: 1/2; }
        $grad: lg(to right, "red", "green");
        @include loading_bar($grad, "lvl") {
            grid-column: 2/3;
            background-color: $bg;
            font-size: inherit;
            border: 1px solid $cyan;
        }
    }
}

.soft-skill > p {

}
.sdp {
    @include f();
    @include row();
    @include mv($s1);
    align-items: baseline;
    width: 100%;
     > .date {
        color: $purple;
    }
    > .place {
        margin-left: auto;
        margin-right: 1em;
        color: $grey;
    }
}

@media print {
    @page{ size: a4;}
    @import "cv_print";
}
