@use super::icons::{house_html, book_html, file_person_html, display_html};
@()

@for (route, content) in [
  ("home".to_string(), "Home"),
  ("articles".to_string(), "Articles"),
  ("projects".to_string(), "Projects"),
  ("cv".to_string(), "CV"),
] {
  <!-- hx-get="/navigate?route=/@(route)" -->
  <a
    class="btni btnt"
    href="/@(route)"
  >
    @match route.as_str() {
      "home" => { @:house_html() }
      "articles" => { @:book_html() }
      "projects" => { @:display_html() }
      "cv" => { @:file_person_html() }
      _ => { Something went wrong. }
    }
    @content
  </a> 
}
