@(title: &str, include_glob_styles: bool, icon: Option<&str>, page_styles: Option<&str>, route: &str)

<head id="meta">
  <title> @title </title>
  @if let Some(icon) = icon {
    <link rel="icon" href="@icon"/>
  } else {
    <link rel="icon" href="/static/imgs/icon.webp"/>
  }
  @if include_glob_styles {
    <link rel="stylesheet" href="/static/globals.css"/>
  }

  @if let Some(styles) = page_styles {
    <link 
      id="page_styles"
      hx-swap-oob="true"
      rel="stylesheet" 
      href="/static/pages/@(styles).css"
    />
  }
  <script src="/static/htmx.js"></script>
</head>
