@(title: &str, route: &str, include_glob_styles: bool, icon: Option<&str>, page_styles: &str)

<head id="meta">
  <!-- Page info -->
  <title> @title </title>
  @if let Some(icon) = icon {
    <link rel="icon" href="@icon"/>
  } else {
    <link rel="icon" href="/static/imgs/icon.webp"/>
  }

  <!-- Styles -->
  @if include_glob_styles {
    <link rel="stylesheet" href="/static/globals.css"/>
  }
  <link rel="stylesheet" href="/static/pages/@(page_styles)">


  <!-- Js -->
  <script src="/static/htmx.js"></script>
</head>
