@use crate::utils::icons::arrow_clockwise_html;
@()

<div id="Intro" class="row f-center"
  style="margin-top: 10vh; margin-bottom: 10vh;"
>
  <img class="avatar-intro" src="/static/imgs/aleod_logo.png"/>

  <p style="margin-left: 5px"> 
    <a href="/about"> Adrien </a>
    a.k.a Aleod, I'm a french programmer living in Bordeaux, France. I'm in my 20's and currently searching for a job. </p> 
</div>

<h2 id="articles"> 
  Recent articles
  <button class="on-parent-hover ico-button" style="margin-left: 1em;">
    @:arrow_clockwise_html()
  </button>
</h2>

<div class=".col"
  hx-get="articles"
  hx-target="this"
  hx-swap="afterbegin"
>
</div>

<h2 id="projects" class="row">
  Projects
  <button class="on-parent-hover ico-button" style="margin-left: 1em;">
    @:arrow_clockwise_html()
  </button>
<h2/>
