@use crate::utils::{
  components::{
    ilink_html,
    nav_link_html,
  },
  icons::{
    github_html,
    at_html,
    house_html,
    book_html,
    file_person_html,
    display_html,
  },
};
@()

<nav class="f c row g-4 | fs-xxl bclr-purple stretch">
  @:nav_link_html("home", {@:house_html() Home})
  @:nav_link_html("cv", {@:file_person_html() CV})
  @:nav_link_html("projects", {@:display_html() Projects})
  @:nav_link_html("articles", {@:book_html() Articles})
</nav>
<div id="Socials" class="f row c pv-1 g-4 | fs-l bclr-green clr-bg">
  <h4> Socials and Contacts: </h4>
  @:ilink_html({@:github_html()}, "https://github.com/Aleod-m", { github.com/Aleod-m })
  @:ilink_html({@:at_html()}, "mailto:adriendml99@@protonmail.com", { adriendml99@@protonmail.com })
</div>
