@use crate::utils::{
  icons::github_html,
  components::icolink_html,
};
@()

<h1 class="fs-l"> Current Project </h1>
<div class="card | bclr-bg">
  <h3 class="h3">@:icolink_html({@:github_html()}, "https://github.com/Aleod-m/nix-machine") NixOs system configuration </h3>
  <p class="desc"> I use NixOs as my operating system. As such my system configuration is a code
    base. The README explains how the repository is structured. </p>
</div>
<div class="card | bclr-bg">
  <h3 class="h3">@:icolink_html({@:github_html()}, "https://github.com/Aleod-m/aleodscorner") This website </h3>
  <p> This website is written in rust using the ructe templating engine axum for the server and htmx for isuing request from the client. The repository is still private as i didn't setup git secrets yet. </p>
</div>
<div class="card | bclr-bg">
  <h3 class="h3">@:icolink_html({@:github_html()}, "https://github.com/Aleod-m/hrtml") Hrtml </h3>
  <p> A templating language for rust. I intend to replace the current solution I use. As I'm dissatisfied with the quirks it has and no other templating language satisfied me because they were either to verbose in my taste or unmaintained. </p>
</div>
<div class="card | bclr-bg">
  <h3 class="h3">@:icolink_html({@:github_html()}, "https://github.com/Aleod-m/shade") Shade </h3>
  <p> A toy functional language. The lexer is pretty much done. I'm currently working on the parser. </p>
</div>


<h1 class="fs-l"> Maintaining </h1>
<div class="card | bclr-bg">
  <h3 class="h3"> @:icolink_html({@:github_html()}, "https://github.com/Aleod-m/konokai") Konokai </h3>
  <p> A neovim theme based on monokai with more vibrant colors. </p>
</div>
