@()

<div>
  <h3> My system config.</h3>
  <p> I use NixOs as my operating system. As such my system configuration is a code
    base. All the packages and configuration files i use are present in this <a href="https://github.com/AdrienDML/nix-machine">repository</a>. </p>
</div>
<div>
  <h3> This website.</h3>
  <p> This website is written in rust using the ructe templating engine axum for the server and htmx for isuing request from the client. </p>
</div>
<div>
  <h3> Spoker </h3>
  <p> An arena fps written in Rust using the bevy game engine (no demo yet). I'm currently working on the character controller and physics with a basic test environnement. </p>
</div>
<div> 
  <h3> Shade </h3>
  <p> A toy functional language. The lexer is pretty much done. I'm working on the parser with a custom dsl built using rust macros.</p>
</div>
