@use "../partials/variables" as *;
@use "../partials/layout" as *;
@use "../partials/shape" as *;
@use 'sass:color';

@mixin hover {
    &:not([diabled]):hover {
        @content
    }
}

@mixin tooltip {
    &:not([diabled]):hover > #tooltip {
        @content
    }
}

@mixin shadow_grad($dir, $start, $end) {
    position: relative;
    transform-style: preserve-3d;
    &::before {
        content: "";
        position: absolute;
        inset: -3px;
        transform: translate3d(5px, 5px, -1px);
        background: #{lg($dir, $start, $end)};
        filter: blur(5px);
    }
}

.card {
    @include p($s4);
    box-shadow: 0 0 $s1 $grey;
    > .h3 {
        & :has(.ico-link) {
            @include pl($s4);
        }
        @include m(0);
    }
    border-radius: $s4;
}

.card {
  @each $clr, $val in $colors {
      &.shclr-#{$clr} { box-shadow: 0 0 $s1 $val; }
  }
}

@mixin loading_bar($color, $class) {
    .bar-#{$class} {
        @content;
        @include pill(90%, .5em);
        display: grid;
        padding: $rs1;
        position:relative;
        >.lvl {
            @include pill(null, 100%);
            display: inline-block;
            -webkit-mask:linear-gradient(#fff 0 0);
            mask:linear-gradient(#fff 0 0);
            &::before {
                content: "";
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                background-image: $color;
            }
        }
        
    }
}

@mixin loading_bar_color($color, $class) {
    .bar-#{$class} {
        @content;
        > .lvl::before {
            background-image: $color;
        }
    }
}
