@use "../partials/variables" as * ;


@mixin m($size) { margin: $size; }
@mixin mv($size) { margin: $size 0; }
@mixin mh($size) { margin: 0 $size; }
@mixin mt($size) { margin-top: $size; }
@mixin mb($size) { margin-bottom: $size; }
@mixin mr($size) { margin-right: $size; }
@mixin ml($size) { margin-left: $size; }

@mixin p($size) { padding: $size; }
@mixin pv($size) { padding: $size 0; }
@mixin ph($size) { padding: 0 $size; }
@mixin pt($size) { padding-top: $size; }
@mixin pb($size) { padding-bottom: $size; }
@mixin pr($size) { padding-right: $size; }
@mixin pl($size) { padding-left: $size; }

@mixin row() {
    flex-direction: row; 
}

@mixin col() {
    flex-direction: column; 
}

@mixin f($inline: false) {
    @if $inline {
      display: inline-flex;
    } @else {
      display: flex;
    }

    &.row { @include row(); }
    &.col { @include col(); }
    &.is { align-items: stretch; }
    &.ic { align-items: center; }
    &.c { justify-content: center; }
    &.sa { justify-content: space-around; }
    &.w { flex-wrap: wrap; }
    @each $name, $val in $sizes {
        $size: #{$val}rem;
        &.g-#{$name} { gap: $size; }
        &.rg-#{$name} { row-gap: $size; }
        &.cg-#{$name} { column-gap: $size; }
        $size: #{$val}em;
        $name: r#{$name};
        &.g-#{$name} { gap: $size; }
        &.rg-#{$name} { row-gap: $size; }
        &.cg-#{$name} { column-gap: $size; }
    }

    > {
        .stretch {
            align-self: stretch;
        }
        .center {
            justify-self: center;
            align-self: center;
        }
        .jssa {
            justify-self: space-around;
        }
    }
}

%f {
    display: flex;
}

%if {
    display: inline-flex;
}

%g {
    display: grid;
}
