@use "../partials/variables" as * ;


@mixin m($size) { margin: $size; }
@mixin mv($size) { margin-top: $size; margin-bottom: $size; }
@mixin mh($size) { margin-left: $size; margin-right: $size; }
@mixin mt($size) { margin-top: $size; }
@mixin mb($size) { margin-bottom: $size; }
@mixin mr($size) { margin-right: $size; }
@mixin ml($size) { margin-left: $size; }

@mixin p($size) { padding: $size; }
@mixin pv($size) { padding-top: $size; padding-bottom: $size; }
@mixin ph($size) { padding-left: $size; padding-right: $size; }
@mixin pt($size) { padding-top: $size; }
@mixin pb($size) { padding-bottom: $size; }
@mixin pr($size) { padding-right: $size; }
@mixin pl($size) { padding-left: $size; }

@mixin row() {
    flex-direction: row; 
}

@mixin col() {
    flex-direction: column; 
}

%flex {
  &.wr { flex-wrap: wrap; };
  &.row { @include row(); }
  &.col { @include col(); }
  &.is { align-items: stretch; }
  &.ic { align-items: center; }
  &.c { justify-content: center; }
  &.s { justify-content: start; }
  &.sa { justify-content: space-around; }
  &.w { flex-wrap: wrap; }
  @each $name, $val in $sizes {
    $size: #{$val}rem;
    &.g-#{$name} { gap: $size; }
    &.rg-#{$name} { row-gap: $size; }
    &.cg-#{$name} { column-gap: $size; }
    $size: #{$val}em;
    $name: r#{$name};
    &.g-#{$name} { gap: $size; }
    &.rg-#{$name} { row-gap: $size; }
    &.cg-#{$name} { column-gap: $size; }
  }

  > {
    .center {
      align-self: center;
    }
    .asst { align-self: stretch; }
    .asc { align-self: center; }
    .ass { align-self: start; }
    .ase { align-self: end; }
  }
}
