@use "../partials/layout" as *;

@mixin sq($size, $rounding: 0) {
    width: $size;
    height: $size;
    @if $rounding != 0 {
        border-radius: 100%; 
    }
}

@mixin pill($w: null, $h: null) {
    @if $h {
        height: $h;
    }
    @if $w {
        width: $w;
    }
    border-radius: 999999px; 
}

@mixin circle($size) {
    @include sq($size, $rounding: 100%);
}


*:not(:hover) {
    .on-parent-hover {
        display: none;
    }
}
