@use "variables" as *;

@each $name, $val in $sizes {
    @each $type in [m, p] {
        .#{$type}-#{$name} { margin: $val; }
        .#{$type}v-#{$name} { margin: $val 0; }
        .#{$type}h-#{$name} { margin: 0 $val; }
        .#{$type}t-#{$name} { margin-top: $val; }
        .#{$type}b-#{$name} { margin-bottom: $val; }
        .#{$type}r-#{$name} { margin-right: $val; }
        .#{$type}l-#{$name} { margin-left: $val; }
    }
}

@mixin mv($size) {
    margin: $size 0;
}
@mixin mh($size) {
    margin: 0 $val;
}

@mixin mt($size) { margin-top: $size; }
@mixin mb($size) { margin-bottom: $size; }
@mixin mr($size) { margin-right: $size; }
@mixin ml($size) { margin-left: $size; }
