@use 'sass:list';
@use 'sass:string';
@use 'sass:math';
@use 'sass:map';

// === Sizes ===
$sizes: (
    "1": 0.25,
    "2": 0.5,
    "3": 0.75,
    "4": 1,
    "5": 1.25,
    "6": 1.5,
    "7": 1.75,
    "8": 2,
    "9": 2.5,
    "10": 3,
    "11": 4,
    "12": 5,
    "13": 6,
    "14": 8,
    "15": 10,
);

$rs1: 0.25em;
$rs2: 0.5em;
$rs3: 0.75em;
$rs4: 1em;
$rs5: 1.25em;
$rs6: 1.5em;
$rs7: 1.75em;
$rs8: 2em;
$rs9: 2.5em;
$rs10: 3em;
$rs11: 4em;
$rs12: 5em;
$rs13: 6em;
$rs14: 8em;
$rs15: 10em;

$s1: 0.25rem;
$s2: 0.5rem;
$s3: 0.75rem;
$s4: 1rem;
$s5: 1.25rem;
$s6: 1.5rem;
$s7: 1.75rem;
$s8: 2rem;
$s9: 2.5rem;
$s10: 3rem;
$s11: 4rem;
$s12: 5rem;
$s13: 6rem;
$s14: 8rem;
$s15: 10rem;

// === Font sizes ===

$fsxs:  10pt;
$fss:   12pt;
$fsm:   14pt;
$fsl:   16pt;
$fsxl:  18pt;
$fsxxl: 20pt;

$font_sizes: (
    "xs": $fsxs,
    "s": $fss,
    "m": $fsm, 
    "l": $fsl,
    "xl": $fsxl,
    "xxl": $fsxxl,
);


// === Colors and gradients ===

$green:  #97E023;
$orange: #FA8419;
$yellow: #DFD561;
$purple: #9C64FE;
$red:    #F3005F;
$cyan:   #57D1EA;

$m-cyan:   #236370;
$m-red:    #A50040;
$m-green:  #507615;
$m-yellow: #847600;
$m-purple: #533488;
$m-orange: #7B4310;

$d-cyan:   #062930;
$d-red:    #400019;
$d-green:  #2C420A;
$d-yellow: #514900;
$d-purple: #30204D;
$d-orange: #542D0A;


$white:  #F6F6EE;
$grey:   #C4C4B5;
$d-grey: #242420;
$black:  #191919;

$colors: (
    "green":  $green,
    "orange": $orange,
    "yellow": $yellow,
    "purple": $purple,
    "red":    $red,
    "cyan":   $cyan,
);
$m-colors: (
    "m-green":  $m-green,
    "m-orange": $m-orange,
    "m-yellow": $m-yellow,
    "m-purple": $m-purple,
    "m-red":    $m-red,
    "m-cyan":   $m-cyan,
);
$d-colors: (
    "d-green":  $d-green,
    "d-orange": $d-orange,
    "d-yellow": $d-yellow,
    "d-purple": $d-purple,
    "d-red":    $d-red,
    "d-cyan":   $d-cyan,
);


@function _gengrad($start, $end) {
    $color-order: (
        "red": "purple",
        "purple": "cyan",
        "cyan": "green",
        "green": "yellow",
        "yellow": "orange",
        "orange": "red",
    );
    $color: $start;
    $color-list: [map.get($colors, $start)];
    @while $color != $end {
        $next_col: map.get($color-order, $color);
        $color-list: list.append($color-list, map.get($colors, $next_col));
        $color: $next_col;
    }
    $nb_colors: list.length($color-list) - 1;
    $percentage: math.div(100%, $nb_colors);
    $percentages: [0%];
    @for $i from 1 through $nb_colors - 1 {
        $percentages: list.append($percentages, $i * $percentage);
    }
    $percentages: list.append($percentages, 100%);

    @return list.zip($color-list, $percentages);
}

@function lg($dir, $start, $end) {
    @return linear-gradient($dir, _gengrad($start, $end))
}

@function rg($start, $end) {
    @return radial-gradient(_gengrad($start, $end))
}
