@use crate::{Version, Language};
@use super::parts::{
  candidat_html,
  programmation_html,
  langues_html,
  soft_skills_html,
  formation_html,
  hobbies_html,
};

@(ty: &str, lang: Language)
<div class="no-print">
  <h1 class="h1 | full-width center clr-cyan"> Programmeur </h1>
  <span class="left-30 | f col">
    @:candidat_html(lang, Version::Normal)
  </span>

  <span class="middle"> 
    @:programmation_html(lang)
  </span>

  <span class="right-30">
    @:langues_html(lang)
  </span>
  <span class="full-width">
    @:soft_skills_html(lang)
  </span>

  <span class="full-width">
    @:formation_html(lang)
  </span>
  <span class="full-width">
    @:hobbies_html(ty, lang)
  </span>
</div>
