@use crate::{Version, Language, Colors};
@use super::parts::{
  candidat_html,
  programmation_html,
  langues_html,
  soft_skills_html,
  formation_html,
  hobbies_html,
};
@(ty: &str, color: Colors, lang: Language)
@if matches!(color, Colors::Dark) {
    <style>
    @@media print @{
      .body @{
        background-color: var(--c-bg);
      @}
    @}
    </style>
}
<div class="print @if !matches!(color, Colors::Print) {colors}">
  <h1 class="h1 | full-width center"> Programmeur </h1>
  <span class="left-30 | f col">
    @:candidat_html(lang, Version::Print)
  </span>

  <span class="middle"> 
    @:programmation_html(lang)
  </span>

  <span class="right-30">
    @:langues_html(lang)
  </span>
  <span class="full-width">
    @:soft_skills_html(lang)
  </span>

  <span class="full-width">
    @:formation_html(lang)
  </span>

  <span class="full-width">
    @:hobbies_html(ty, lang)
  </span>
</div>
