@use crate::Language;
@use super::{
  _normal_html,
};

@(lang: Language)

<h1 class="mb-4 mt-8" > Language </h1>
<div id="language" class="f row g-4">
  @match lang {
    Language::French => {
      Francais
      <div id="toggle" class="toggle off" hx-get="/cv/content/english" hx-traget="#page-content"></div>
      Anglais
    }
    Language::English=> {
      French
      <div id="toggle" class="toggle on" hx-get="/cv/content/french" hx-traget="#page-content"></div>
      English
    }
  }
</div>
<h1 class="mv-4"> Pdfs </h1>
<div id="language" class="f row g-4 mb-10">
  @match lang {
    Language::French => {
      <a href="/static/cvs/cv_colors_fr.pdf" class="btn"> Couleurs </a>
      <a href="/static/cvs/cv_print_fr.pdf" class="btn"> Imprimable </a>
    }
    Language::English=> {
      <a href="/static/cvs/cv_colors_en.pdf" class="btn"> Colors </a>
      <a href="/static/cvs/cv_print_en.pdf" class="btn"> Printable </a>
    }
  }
</div>

<div class="content">
    @:_normal_html(lang, {
        @match lang {
            Language::French => {Développeur}
            Language::English => {Developper}
        }
    })
</div>
