@use crate::Language;
@use super::{
  _normal_html,
};

@(lang: Language)

<h1 class="center mv-4" > Language </h1>
<div id="language" class="f row g-4 | center">
  @match lang {
    Language::French => {
      Francais
      <div id="toggle" class="toggle off" hx-get="/cv/content/english" hx-traget="#page-content"></div>
      Anglais
    }
    Language::English=> {
      French
      <div id="toggle" class="toggle on" hx-get="/cv/content/french" hx-traget="#page-content"></div>
      English
    }
  }
</div>
<h1 class="center mv-4" > Pdfs </h1>
<div id="language" class="f row g-4 | center">
  @match lang {
    Language::French => {
      <a href="/static/cvs/cv_colors_fr.pdf" class="button"> Couleurs </a>
      <a href="/static/cvs/cv_print_fr.pdf" class="button"> Imprimable </a>
    }
    Language::English=> {
      <a href="/static/cvs/cv_colors_en.pdf" class="button"> Colors </a>
      <a href="/static/cvs/cv_print_en.pdf" class="button"> Printable </a>
    }
  }
</div>


<div class="content mt-4">
  @:_normal_html(lang)
</div>
