@()

<h3> CV Settings </h3>
<hr/>
<form 
  class="f col p-2"
  hx-boost="true"
  hx-put="/cv/content" 
  hx-target=".content"
  hx-swap="outerHTML"
>
  <div class="f row p-2">
    <div class="mh-2">
      <label> Colors: </label>
      <div class="pl-2">
          <input type="radio" name="colors" value="print" id="print" checked />
          <label for="french"> Printable </label> 
        <br>

    <!--
          <input type="radio" name="colors" value="light" id="light" />
          <label for="english"> Light Colors </label> 
        <br>
  -->
          <input type="radio" name="colors" value="dark" id="dark" />
          <label for="english"> Colors </label> 
      </div>
    </div>

    <div class="mh-2">
      <label> Type: </label>
      <div class="pl-2">
        <input type="radio" name="type" value="general" id="general" checked />
        <label for="general"> general. </label> 
        <br>
        <input type="radio" name="type" value="gamedev" id="gamedev"/>
        <label for="gamedev"> game development.</label> 
      </div>
    </div>

    <!--
    <div class="mh-2">
      <label> Layout: </label>
      <div class="pl-2">
        <input type="radio" name="layout" value="portrait" id="portrait" checked />
        <label for="portrait"> portrait. </label> 
        <br>
        <input type="radio" name="layout" value="landscape" id="landscape"/>
        <label for="landscape"> landscape. </label> 
      </div>
    </div>
  -->

    <div class="mh-2">
      <label> Langue: </label>
      <div class="pl-2">
        <input type="radio" name="language" value="french" id="french" checked />
        <label for="french"> French </label> 
        <br>
        <input type="radio" name="language" value="english" id="english"/>
        <label for="english"> English </label> 
      </div>
    </div>
    <br/>
  </div>

  <div class="f row p-2">
    <button class="button | m-4 center" type="submit">
      Apply
    </button>
    <button 
      class="button | m-4 center" 
      hx-get="/cv/settings" 
      hx-target="closest #cv-settings"
      hx-swap="innerHtml"
    >
      Close
    </button>
  </div>
</form>
