@use crate::utils::{
  expandable_sidebar_html,
  icons::gear_html,
};

@(expanded: bool)

@:expandable_sidebar_html(expanded, "/cv/aside", {@:gear_html()}, {
<form 
  class="if col | p-2"
  hx-put="/cv/content" 
  hx-target="#content"
>
  <h3> CV Settings </h3>
  <label> Type: </label>
  <div class="pl-2">
    <input type="radio" name="type" value="general" id="general" checked />
    <label for="general"> general. </label> 
    <br>
    <input type="radio" name="type" value="gamedev" id="gamedev"/>
    <label for="gamedev"> game development.</label> 
  </div>
  <label class="mt-4"> Layout: </label>
  <div class="pl-2">
    <input type="radio" name="layout" value="portrait" id="portrait" checked />
    <label for="general"> portrait. </label> 
    <br>
    <input type="radio" name="layout" value="landscape" id="landscape"/>
    <label for="landscape"> landscape. </label> 
  </div>

  <div class="mt-4">
    <input type="checkbox" id="colors" name="colors"/>
    <label for="colors"> print in colors. </label> 
  </div>

  <button
    class="button | mt-4" 
    type=""
  >
    Update
  </button>
</form>
})


