@use crate::{
  utils::icons::building_html,
  Language,
};
@use super::_formation_html;

@(lang: Language)
@match lang {
  Language::French => {
    <div class="ih2 | f row fs-l">
        <div class="icon f c ic"> @:building_html() </div>
        <h2 class="h2"> Expériences </h2>
    </div>
    <div class="sdp">
      @for (title, date, place) in &[
      ( "Bénévolat raid Obivwak.", "1 week-end mai 2024", "Vulcania Auvergne."),
      ( "Bénévolat réparation d'une grange.", "1 semaine, été 2023", "Bélesta, Ariège."),
      ( "Bénévolat dans une ferme agricole.", "2 semaines, été 2018", "Brousse, Puy de Dôme."),
      ( "Stage d'observation.", "1 semaine, 2017", "Interforges, Issoire."),
      ] {
        @:_formation_html(title, date, place)
      }
    </div>
  }
  Language::English => {
    <div class="ih2 | f row fs-l">
        <div class="icon f c ic"> @:building_html() </div>
        <h2 class="h2"> Experiences </h2>
    </div>
    <div class="sdp">
      @for (title, date, place) in &[
        ( "Voluntary work, Obivwak raid.", "1 week-end may 2024", "Vulcania, Puy de Dôme."),
        ( "Voluntary work, barn renavtion.", "1 week, summer 2023", "Bélesta, Ariège."),
        ( "Voluntary work in a farm.", "2 weeks, summer 2018", "Brousse, Puy de Dôme."),
        ( "Internship.", "1 week, 2017", "Interforges, Issoire."),
      ] {
        @:_formation_html(title, date, place)
      }
    </div>
  }
}
