@use crate::{
  utils::icons::book_html,
  Language,
};
@use super::_formation_html;
@(lang: Language)
@match lang {
  Language::French => {
    <h2 id="Formation" class="h2 | full-width"> @:book_html() Formation </h2>
    <hr/>
    @for (title, date, place) in &[
    ( "Master Image et Son, Année 1.", "2022-2023", "Université de Bordeaux, Talence."),
    ( "L3 Informatique.", "2021-2022", "Université de Bordeaux, Talence."),
    ( "L2 Informatique.", "2020-2021", "Université de Bordeaux, Talence."),
    ( "École d'ingénieur, Année 1, Filière MATMECA.", "2019-2020", "ENSEIRB-MATMECA, Talence"),
    ( "CPGE, PTSI-PT / L2 en Mécanique.", "2017-2019", "Lycée Jean-Zay, Thiers."),
    ( "Bac S Sciences de l'ingénieur.", "2017-2019", "Lycée Lafayette, Clermont-Ferrand."),
    ] {
      @:_formation_html(title, date, place)
    }
  }
  Language::English => {
    <h2 id="Formation" class="h2 | full-width"> @:book_html() Formation </h2>
    <hr/>
    @for (title, date, place) in &[
    ( "Masters Degree, Rendering and Sound, Year 1.", "2022-2023", "Université de Bordeaux, Talence."),
    ( "L3 CS.", "2021-2022", "Université de Bordeaux, Talence."),
    ( "L2 CS.", "2020-2021", "Université de Bordeaux, Talence."),
    ( "Engineering School, Year 1, MATMECA Division.", "2019-2020", "ENSEIRB-MATMECA, Talence"),
    ( "CPGE, PTSI-PT / L2 Engineering.", "2017-2019", "Lycée Jean-Zay, Thiers."),
    ( "Bac S Engineering Sciences.", "2017-2019", "Lycée Lafayette, Clermont-Ferrand."),
    ] {
      @:_formation_html(title, date, place)
    }
  }
}
