@use crate::{
  utils::icons::bookmark_star_fill_html,
  Language,
};
@use super::_formation_html;
@(lang: Language)
@match lang {
  Language::French => {
    <div class="ih2 | f row fs-l">
        <div class="icon | f c ic">@:bookmark_star_fill_html() </div>
        <h2 class="h2"> Formations </h2>
    </div>
    <div class="sdp asc jss">
    @for (title, date, place) in &[
        ( "Devellopeur Full-Stack Java/Angular", "À venir", "Formation en ligne avec OpenClassRoom"),
        ( "License Informatique, metion assez Bien.", "2020-2022", "Université de Bordeaux, Talence"),
        ( "École d'ingénieur, Année 1, Filière MATMECA.", "2019-2020", "ENSEIRB-MATMECA, Talence"),
        ( "CPGE, PTSI-PT / L2 en Mécanique.", "2017-2019", "Lycée Jean-Zay, Thiers"),
        ( "Bac S Sciences de l'ingénieur mention Bien.", "2017-2019", "Lycée Lafayette, Clermont-Ferrand"),
    ] {
      @:_formation_html(title, date, place)
    }
    </div>
  }
  Language::English => {
    <div class="ih2 | f row fs-l">
        <div class="icon | f c ic"> @:bookmark_star_fill_html() </div>
        <h2 class="h2"> Formations </h2>
    </div>
    <div class="sdp asc jss">
    @for (title, date, place) in &[
        ( "Full-Stack Developper Java/Angular", "Upcomming", "Online course with OpenClassRoom" ),
        ( "CS. License", "2020-2022", "Université de Bordeaux, Talence"),
        ( "Engineering School, Year 1, MATMECA Division.", "2019-2020", "ENSEIRB-MATMECA, Talence"),
        ( "CPGE, PTSI-PT / L2 Engineering.", "2017-2019", "Lycée Jean-Zay, Thiers"),
        ( "Bac S Engineering Sciences with honours.", "2017-2019", "Lycée Lafayette, Clermont-Ferrand"),
    ] {
      @:_formation_html(title, date, place)
    }
    </div>
  }
}
