@use crate::{
  utils::icons::bookmark_star_fill_html,
  Language,
};
@use super::_formation_html;
@(lang: Language)
@match lang {
  Language::French => {
    <div class="ih2 | f row fs-l">
        <div class="icon | f c ic">@:bookmark_star_fill_html() </div>
        <h2 class="h2"> Formations </h2>
    </div>
    <div class="sdp asc jss">
    @for (title, date, place) in &[
    ( "Master Image et Son, Année 1.", "2022-2023", "Université de Bordeaux, Talence"),
    ( "License Informatique.", "2020-2022", "Université de Bordeaux, Talence"),
    ( "École d'ingénieur, Année 1, Filière MATMECA.", "2019-2020", "ENSEIRB-MATMECA, Talence"),
    ( "CPGE, PTSI-PT / L2 en Mécanique.", "2017-2019", "Lycée Jean-Zay, Thiers"),
    ( "Bac S Sciences de l'ingénieur.", "2017-2019", "Lycée Lafayette, Clermont-Ferrand"),
    ] {
      @:_formation_html(title, date, place)
    }
    </div>
  }
  Language::English => {
    <div class="ih2 | f row fs-l">
        <div class="icon | f c ic"> @:bookmark_star_fill_html() </div>
        <h2 class="h2"> Formations </h2>
    </div>
    <div class="sdp asc jss">
    @for (title, date, place) in &[
    ( "Masters Degree, Rendering and Sound, Year 1.", "2022-2023", "Université de Bordeaux, Talence"),
    ( "CS. License", "2020-2022", "Université de Bordeaux, Talence"),
    ( "Engineering School, Year 1, MATMECA Division.", "2019-2020", "ENSEIRB-MATMECA, Talence"),
    ( "CPGE, PTSI-PT / L2 Engineering.", "2017-2019", "Lycée Jean-Zay, Thiers"),
    ( "Bac S Engineering Sciences.", "2017-2019", "Lycée Lafayette, Clermont-Ferrand"),
    ] {
      @:_formation_html(title, date, place)
    }
    </div>
  }
}
