@mixin hover {
    &:not([diabled]):hover {
        @content
    }
}

@mixin tooltip {
    &:not([diabled]):hover > #tooltip {
        @content
    }
}

@mixin row($inline: false) {
    @if $inline {
     display: inline-flex;
    } @else {
      display: flex;
    }
    flex-direction: row;
}

@mixin col {
    display: flex;
    flex-direction: column;
}

@mixin fcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin sq($size, $rounding: 0) {
    width: $size;
    height: $size;
    @if $rounding != 0 {
        border-radius: 100%; 
    }
}

@mixin pill($w, $h) {
    width: $w;
    height: $h;
    border-radius: 100%; 
}

@mixin circle($size) {
    @include sq($size, $rounding: 100%);
}

@mixin mtb($amount) {
    margin-top: $amount;
    margin-bottom: $amount;
}

*:not(:hover) {
    .on-parent-hover {
        display: none;
    }
}

.row {
    @include row
}
.col {
    @include col
}

.f-center {
    align-items: center;
}

.g-center {
    place-content: center;
}

